@font-face {
    font-family: 'Bahij-sultannahia';
    src: url(../fonts/bahij-sultannahia.ttf);
}

@font-face {
    font-family: 'ChronicaPro-Regular';
    src: url(../fonts/ChronicaPro-Regular.ttf);
}