*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.box{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: 10px double black;
    margin-top: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}