@import url(reset.css);

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    flex: 1;
}

.word{
    width: 100%;
    height: 100%;
    display: flex;
}

.letter{
    height: 100%;
    width: calc(100% / 7);
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textStyle{
    font-weight: bold;
    color: white;
    font-size: 84px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 10px black;
}

.red{
    background: rgb(195,34,164);
    background: linear-gradient(0deg, rgba(195,34,164,1) 0%, rgba(253,45,45,1) 100%);
}

.blue{
    background: rgb(34,48,195);
    background: linear-gradient(0deg, rgba(34,48,195,1) 0%, rgba(45,241,253,1) 100%);
}

.green{
    background: rgb(34,195,123);
    background: linear-gradient(0deg, rgba(34,195,123,1) 16%, rgba(45,253,62,1) 100%);
}

.yellow{
    background: rgb(178,195,34);
    background: linear-gradient(0deg, rgba(178,195,34,1) 16%, rgba(245,253,45,1) 85%);
}

.grey{
    background: rgb(140,144,162);
    background: radial-gradient(circle, rgba(140,144,162,1) 0%, rgba(72,66,74,1) 100%);
}

.purple{
    background: rgb(171,0,237);
    background: radial-gradient(circle, rgba(171,0,237,1) 25%, rgba(153,148,233,1) 75%);
}

.orange{
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,220,29,1) 48%, rgba(252,176,69,1) 100%);
}

