*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 50px;
    background-color: purple;
}