* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
  }

  .circles{
    display: flex;
    gap: 50px;
  }

  .point{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation-name: pulsePoint;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }

  .wrapper{
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .underPoint{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation-name: pulse;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    opacity: 0;
  }

  @keyframes pulsePoint{
    20%{
        width: 18px;
        height: 18px;
    }
    40%{

    }
  }

  @keyframes pulse{
    20%{

    }
    50%{
        width: 30px;
        height: 30px;
        opacity: 0.4;
    }

    100%{
        width: 36px;
        height: 36px;
    }
  }

  .white{
    background-color: white;
    color: white;
  }

  .red{
    background-color: red;
    color: red;
  }

  .orange{
    background-color: orange;
    color: orange;
  }

  .yellow{
    background-color: yellow;
    color: yellow;
  }

  .blue{
    background-color: blue;
    color: blue;
  }

  .green{
    background-color: green;
    color: green;
  }

  .purple{
    background-color: purple;
    color: purple;
  }

  .black{
    background-color: black;
    color: black;
  }

  

